NEXT_PUBLIC_SUPABASE_URL=https://spijnheehzaoorvfnxqa.supabase.co 
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNwaWpuaGVlaHphb29ydmZueHFhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4MzI2ODIsImV4cCI6MjA5NzQwODY4Mn0.L5F2UN2Io0iSH8rBRfqKvhf6QQAYXlXKKVK0soGAOYw
